   .chat-input {
        display: flex;
        margin-bottom: 30px;
      
      } 
      input {
        font-family: 'Courier New', Courier, monospace;
      }



      .input-field {
        padding:10px 10px;
        border-radius: 10px;
        border-width: 1px;
        font-size: 15px;  
        flex-grow: 1;
      }

    
